### Harvard GSD  J-Term 2022 
### Introduction to Data Science for Building Simulation and Architectural Design
***
Instructor: Jung Min Han, jhan2@gsd.harvard.edu <br>
Date/Time: Jan 3-7/ 10:00 - 11:30 a.m. <br>
***

Pease copy this colab notebook and rename it before you start! 

---

# **Python** **basic** 
## Basic Syntax
### 1. variable and type

In [2]:
myVariable = 10

print (myVariable)

10

In [3]:
# your code here

In [4]:
myString = "hello world"
myInt = 7
myFloat = 1.23
myBool = True

print (myString)
print (myInt)
print (myFloat)
print (myBool)

hello world
7
1.23
True

In [5]:
# your code here

In [6]:
print (type(myString))
print (type(myInt))
print (type(myBool))

<class 'str'>
<class 'int'>
<class 'bool'>

In [7]:
# your code here

### 2. number

In [8]:
theNum = 3
theNum = 2
print (theNum)

2

In [9]:
# your code here

In [10]:
numA = 3 
numB = 2.0
theSum = numA + numB
print (theSum)

5.0

In [11]:
# your code here

In [12]:
myNum = 1
myNum += myNum
myNum += myNum
print (myNum)

4

In [13]:
# your code here

In [14]:
total = ((2 ** 2 ) * 0.5 ) + 3.14159 
print (total)

5.14159

In [14]:
# your code here

### 3. comment

In [16]:
# your school
schoolName = "GSD" 
year = 2022 # the year
'''
this is ...
the result below
'''
print (schoolName , year)

GSD 2022

In [17]:
# your code here

### 4. string

In [18]:
theText = "hello world"
print (theText)

hello world

In [19]:
# your code here

In [20]:
print (theText[0])
print (theText[3])
print (theText[-1])
print (theText[round(len(theText)/2)])
print (len(theText))

h
l
d
w
11

In [21]:
# your code here

In [22]:
theString = "Hello GSD"
print (theString.lower())
print (theString.upper())

hello gsd
HELLO GSD

In [23]:
# your code here

In [24]:
# concatenate for string
print (theText + ", "+ theString)
print ("theText %s, theString %s" %(theText, theString))

hello world, Hello GSD
theText hello world, theString Hello GSD

In [25]:
# your code here

### 5. Casting

In [26]:
myStringNum= "3"
myFloatNum = 3.0

print ("myStringNum is ", myStringNum, "theType is", type(myStringNum),"\n", 
       "myFloatNum is" , myFloatNum, "myFloatNum", type(myFloatNum))

print (10 * float(myStringNum))
print ("befor:", type(myFloatNum), "after casting" , type(str(myFloatNum)))

myStringNum is  3 theType is <class 'str'>
 myFloatNum is 3.0 myFloatNum <class 'float'>
30.0
befor: <class 'float'> after casting <class 'str'>

In [27]:
# your code here

In [28]:
theBool ="True"
print (type(theBool))
print (type(bool(theBool)))

<class 'str'>
<class 'bool'>

In [ ]:
# your code here

### 6. Conditional Statement

In [29]:
booA = True
booB = False
print (booA == booB)
print (booA != booB)

False
True

In [30]:
# your code here

In [31]:
a = 10
b = "10"
print (a == b)
print (a == int(b))

False
True

In [32]:
# your code here

In [33]:
boolA = 3 > 12
print (boolA)
boolB = 4 < 6 * 4
print (boolB)

False
True

In [34]:
# your code here

In [35]:
a = 5
b = 5.0
print (type(a) == type(b))
print (type(float(a)) == type(b))

False
True

In [36]:
# your code here

In [37]:
print (3 == 2 or 5 == 5)
print (3 == 2 and 5 == 5)

True
False

In [38]:
# your code here

In [39]:
print ((3 == 2 or 5 == 5) and  (3 == 2 and 5 == 5))

False

In [40]:
# your code here

In [41]:
a = 3
b = 5

if a > b:
    print ("a is greater than b")
elif(a == b):
    print ("a is equal to b")
else:
    print ("a is smaller than b")

a is smaller than b

In [42]:
# your code here

### 7. loop

In [43]:
for i in range(3):
    print ("hello world")

hello world
hello world
hello world

In [44]:
# your code here

In [45]:
for i in range(3,6):
    print (i)

3
4
5

In [46]:
# your code here

In [47]:
theIter = 10
for i in range(theIter):
    if i % 2 == 0: # modulo operation
        print (i)
    else :
        print ("odd number")

0
odd number
2
odd number
4
odd number
6
odd number
8
odd number

In [48]:
# your code here

In [49]:
theIter = 5
while theIter > 0:
    print (theIter)
    theIter -= 1

5
4
3
2
1

In [50]:
# your code here

In [51]:
for i in range(2):
    for j in range (3):
        print ("i =" , i ,",", "j =", j)

i = 0 , j = 0
i = 0 , j = 1
i = 0 , j = 2
i = 1 , j = 0
i = 1 , j = 1
i = 1 , j = 2

In [52]:
# your code here

## Data Structure
### 8. List
https://docs.python.org/2/tutorial/datastructures.html

In [53]:
theListA = [1,2,3,4,5]
theListB = ["hello world"]
print (theListA)
print (theListA[3:])

print (theListB)

theListB.append(3)
theListB.append(6)
print (theListB)

[1, 2, 3, 4, 5]
[4, 5]
['hello world']
['hello world', 3, 6]

In [54]:
# your code here

In [55]:
theString = "hello GSD"
print (theString[3:])
print ("the length of string is",len(theString), ".")
print ("---------------------------")
for i in theString:
    print (i)

lo GSD
the length of string is 9 .
---------------------------
h
e
l
l
o

G
S
D

In [56]:
# your code here

In [57]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
basket = set(basket) # https://docs.python.org/2/library/sets.html
for f in sorted(basket):
    print (f)

apple
banana
orange
pear

In [58]:
# your code here

In [59]:
myList = [1,2,5,8,9]
for i in myList:
    print (i)

1
2
5
8
9

In [60]:
# your code here

In [61]:
print (len(myList))
print (myList[-1])

5
9

In [65]:
# your code here

In [63]:
theNewList = []
for i in range(10):
    theNewList.append(i*10)
print (theNewList)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [66]:
# your code here

In [67]:
theNewList.index(50)

5

In [69]:
# your code here

In [70]:
myList = [1,2,3,"gsd", -5, True,'mdes',10]
print (myList)
myList.insert(0, 0)
print (myList)
myList.remove('gsd')
print (myList)

[1, 2, 3, 'gsd', -5, True, 'mdes', 10]
[0, 1, 2, 3, 'gsd', -5, True, 'mdes', 10]
[0, 1, 2, 3, -5, True, 'mdes', 10]

In [71]:
# your code here

In [72]:
myList.pop()
print (myList)

[0, 1, 2, 3, -5, True, 'mdes']

In [73]:
# your code here

In [74]:
myList.pop(2) # index
print (myList)

[0, 1, 3, -5, True, 'mdes']

In [75]:
# your code here

In [76]:
myList.reverse()
print (myList)

['mdes', True, -5, 3, 1, 0]

In [77]:
# your code here

### 9. Dictionary

In [78]:
person = {'height': 170, "name": 'Tony', "weight": 65  }
print (person)
print (person['name'])
print (person['weight'])

{'height': 170, 'name': 'Tony', 'weight': 65}
Tony
65

In [79]:
# your code here

In [80]:
person['adress'] = 'Cambridge, MA'
print (person)

{'height': 170, 'name': 'Tony', 'weight': 65, 'adress': 'Cambridge, MA'}

In [81]:
# your code here

In [82]:
person['height'] += 10
print (person)

{'height': 180, 'name': 'Tony', 'weight': 65, 'adress': 'Cambridge, MA'}

In [83]:
# your code here

In [84]:
person["skill"] = ['rhino', 'grasshopper', 'photoshop']
print (person)

{'height': 180, 'name': 'Tony', 'weight': 65, 'adress': 'Cambridge, MA', 'skill': ['rhino', 'grasshopper', 'photoshop']}

In [85]:
# your code here

In [86]:
for i in person:
    content = person[i]
    if(type(content) == list):
        for j, skill in enumerate(content):
            print ("the skill",j , ":", skill)
    else:
        print (content)

180
Tony
65
Cambridge, MA
the skill 0 : rhino
the skill 1 : grasshopper
the skill 2 : photoshop

In [87]:
# your code here

In [88]:
theIndex = ["a", "b", "c"]
theNewDic = {} # Empty dictionary
for j in theIndex:
    lst = []
    for i in range(3):
        lst.append(i);
    theNewDic[str(j)] = lst
print (theNewDic)

{'a': [0, 1, 2], 'b': [0, 1, 2], 'c': [0, 1, 2]}

In [89]:
# your code here

### 10. Tuple

In [90]:
theTuple = (1,2, 3)
print (theTuple)
print (theTuple[0])

(1, 2, 3)
1

In [91]:
# your code here

In [92]:
tA = (1,2,3)
print (tA * 2)

tB = ('a','b','c')
tC = (tA + tB)
print (tC)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 'a', 'b', 'c')

In [93]:
# your code here

In [94]:
theIndex = ["a", "b", "c"]
theList = [1,2,3]
theTuple = zip(theIndex, theList)
print (theTuple)
for i in theTuple:
    print (i[0], i[1])

<zip object at 0x7f9de6b840f0>
a 1
b 2
c 3

In [95]:
# your code here

In [96]:
theTuple = (1,2,3)
print (theTuple)
print (type(theTuple))

newList = list(theTuple)
print (newList)
print (type(newList))

newTuple = tuple(newList)
print (newTuple)
print (type(newTuple))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>

In [97]:
# your code here

### 11. Function

In [98]:
def theSum(a,b):
    print (a + b)
theSum(10,3)

13

In [99]:
# your code here

In [100]:
def theSum(a,b):
    return a + b
mySum = theSum(10,3)
print (mySum)

13

In [101]:
# your code here

In [102]:
def find_A_character_from_word(word):
    theWord = word.upper()
    for i, char in enumerate(theWord):
        if(char == "A"):
            print ("yes")
            return i
    print ("no")
    return -1
theIndex = find_A_character_from_word("apple")
print (theIndex)
print ("--------------------------------")

theIndex = find_A_character_from_word("lemon")
print (theIndex)
print ("--------------------------------")

theIndex = find_A_character_from_word("strawberry")
print (theIndex)

yes
0
--------------------------------
no
-1
--------------------------------
yes
3

In [103]:
# your code here

In [104]:
import random 

def getRandomValue(theMin, theMax):
    return random.randint(theMin, theMax)

def getNumofValue(theIter, theMin, theMax):
    outList = []
    for i in range(theIter):
        outList.append(getRandomValue(theMin, theMax))
    return outList


theIter = int(input("number of iteration?"))
theMin = int(input("min"))
theMax = int(input("max"))
theList = getNumofValue(theIter, theMin, theMax)
print (theList)
print (sum(theList))

number of iteration?3
min1
max2
[2, 1, 1]
4

In [105]:
# your code here

In [106]:
from datetime import datetime # https://docs.python.org/2/library/datetime.html
now = datetime.now()

print ('0%s/%s/%s' % (now.month, now.day, now.year))

from datetime import datetime
now = datetime.now()

print ('0%s:%s:%s' % (now.hour, now.minute, now.second))

from datetime import datetime
now = datetime.now()

print ('0%s/%s/%s 0%s:%s:%s' % (now.month, now.day, now.year, now.hour, now.minute, now.second))

012/31/2021
00:40:6
012/31/2021 00:40:6

In [107]:
# your code here

In [108]:
import math
print (dir(math))

def degreeFromRadians(degrees):
    return (degrees * (math.pi / 180.0))        

def radiansFromDegree(radians):
    return (radians * (180.0 / math.pi))

theValue = 90 
thesult = degreeFromRadians(90)
print (thesult)
print (radiansFromDegree(thesult))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
1.5707963267948966
90.0

In [109]:
# your code here

***
<br>
Thank you for going through this tutorial once!! Now you are ready to move to PANDAS!!!