### Harvard GSD  J-Term 2022 
### Introduction to Data Science for Building Simulation and Architectural Design
***
Instructor: Jung Min Han, jhan2@gsd.harvard.edu <br>
Date/Time: Jan 3-7/ 10:00 - 11:30 a.m. <br>
***

Pease copy this colab notebook and rename it before you start! 

---

## Import NumPy and pandas modules

Run the following code cell to import the NumPy and pandas modules.

In [1]:
import numpy as np
import pandas as pd

### 1. Create Data Frame
* to create pandas data frame from dictionary in python
* to create pandas data frame from csv

In [8]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 4], [40, 5]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'wind speed']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  wind speed
0            0           3
1           10           7
2           20           9
3           30           4
4           40           5

In [16]:
# your code here

In [11]:
# pandas data frame from dictionary in python
data = { "name" : ['a','b','c','d','e','f'],
         "id" : [1,3,8,10,12,60],
         "value" : [23,21,18,29,43,21]}

df = pd.DataFrame(data)

print (type(df))
print (df)

df = df.set_index("id")
print (df)

<class 'pandas.core.frame.DataFrame'>
  name  id  value
0    a   1     23
1    b   3     21
2    c   8     18
3    d  10     29
4    e  12     43
5    f  60     21
   name  value
id
1     a     23
3     b     21
8     c     18
10    d     29
12    e     43
60    f     21

In [15]:
# your code here

In [12]:
print (df['value'])
print (df.name)

id
1     23
3     21
8     18
10    29
12    43
60    21
Name: value, dtype: int64
id
1     a
3     b
8     c
10    d
12    e
60    f
Name: name, dtype: object

In [13]:
# your code here

In [17]:
# pandas data frames from list of list
listOfList = [[1,2,3],
             [4,5,6],
             [7,8,9]]

dfFromList = pd.DataFrame(listOfList)
print (dfFromList)


lstA = [1,2,3]
lstB = [4,5,6]
lstC = [7,8,9]
listOfList2 = []
listOfList2.append(lstA)
listOfList2.append(lstB)
listOfList2.append(lstC)

dfFromList = pd.DataFrame(listOfList2)
dfFromList.columns = ["ID", "valA", 'valB']
print (dfFromList)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   ID  valA  valB
0   1     2     3
1   4     5     6
2   7     8     9

In [18]:
# your code here

### 2. Load dataframe

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
# pandas data frame from csv
def getPandasFromFile(path, fileName, theSkipRow):
    path = os.path.join(path , fileName)
    return pd.read_csv(path, skiprows= theSkipRow , header=None, index_col = False)
def SavePandasToCSV(d, path):
    d.to_csv(path)
    return "done!!"

# modify the following file path for your GoogleDrive
FILEPATH = '/content/drive/My Drive/Colab Notebooks/J_Term/BostonWeatherFromWeb.csv'

df = pd.read_csv(FILEPATH)
df

    Unnamed: 0 Month  ...  Hours of sunshine:  Average snowfall in :
0            0   Jan  ...                 148                     13
1            1   Feb  ...                 168                     11
2            2   Mar  ...                 212                      8
3            3   Apr  ...                 222                      2
4            4   May  ...                 263                      0
5            5   Jun  ...                 283                      0
6            6   Jul  ...                 300                      0
7            7   Aug  ...                 280                      0
8            8   Sep  ...                 232                      0
9            9   Oct  ...                 207                      0
10          10   Nov  ...                 152                      1
11          11   Dec  ...                 148                      9

[12 rows x 8 columns]

In [26]:
# your code here

### 3. index and columns, and converting data
* convert data frame to list 
* convert data frame to numpy
* convert numpy or list to data frame

* manipulation columns of data frame
* manipulation row of data frame

In [27]:
print ("the index :", df.index)
print ("----------------------------------------------------")
print ("the index :", df.index.values)
print ("----------------------------------------------------")
print ('the columns', df.columns.values)
print ("----------------------------------------------------")
print (df['Average high in :'])
print (df[['Month','Days with precipitation:']])

the index : RangeIndex(start=0, stop=12, step=1)
----------------------------------------------------
the index : [ 0  1  2  3  4  5  6  7  8  9 10 11]
----------------------------------------------------
the columns ['Unnamed: 0' 'Month' 'Average high in :' 'Average low in :'
 'Av. precipitation in :' 'Days with precipitation:' 'Hours of sunshine:'
 'Average snowfall in :']
----------------------------------------------------
0     36
1     39
2     45
3     56
4     66
5     76
6     81
7     80
8     72
9     61
10    51
11    41
Name: Average high in :, dtype: int64
   Month  Days with precipitation:
0    Jan                        13
1    Feb                        11
2    Mar                        13
3    Apr                        12
4    May                        13
5    Jun                        12
6    Jul                        11
7    Aug                        10
8    Sep                        10
9    Oct                        10
10   Nov                        11
11   Dec                        11

In [28]:
# your codes here

In [29]:
# to List
airList = df['Hours of sunshine:'].tolist()
print (type(airList))
print (len(airList))
print ("------------------")
print (airList)

<class 'list'>
12
------------------
[148, 168, 212, 222, 263, 283, 300, 280, 232, 207, 152, 148]

In [31]:
# your codes here

In [30]:
# to Numpy array
npArray = np.array(df['Hours of sunshine:'])
print (type(npArray))
print (npArray)

<class 'numpy.ndarray'>
[148 168 212 222 263 283 300 280 232 207 152 148]

In [32]:
# your codes here

In [33]:
# to Pandas Data Frame
temp = df[['Month', 'Hours of sunshine:', 'Average snowfall in :']]

newNp = np.array(temp)
print (newNp)

newDF = pd.DataFrame(temp)
print (newDF)

[['Jan' 148 13]
 ['Feb' 168 11]
 ['Mar' 212 8]
 ['Apr' 222 2]
 ['May' 263 0]
 ['Jun' 283 0]
 ['Jul' 300 0]
 ['Aug' 280 0]
 ['Sep' 232 0]
 ['Oct' 207 0]
 ['Nov' 152 1]
 ['Dec' 148 9]]
   Month  Hours of sunshine:  Average snowfall in :
0    Jan                 148                     13
1    Feb                 168                     11
2    Mar                 212                      8
3    Apr                 222                      2
4    May                 263                      0
5    Jun                 283                      0
6    Jul                 300                      0
7    Aug                 280                      0
8    Sep                 232                      0
9    Oct                 207                      0
10   Nov                 152                      1
11   Dec                 148                      9

In [34]:
# your codes here

In [35]:
# rename columns 
print (newDF.head(3))

newDF.columns = ["Time", "Sun", 'Snow']

print (newDF.head(3))

  Month  Hours of sunshine:  Average snowfall in :
0   Jan                 148                     13
1   Feb                 168                     11
2   Mar                 212                      8
  Time  Sun  Snow
0  Jan  148    13
1  Feb  168    11
2  Mar  212     8

In [39]:
# your codes here

In [36]:
# get data from selected columns
dataCol = newDF['Sun'].values
print (dataCol)

dataCol = newDF['Sun']
print (dataCol)

[148 168 212 222 263 283 300 280 232 207 152 148]
0     148
1     168
2     212
3     222
4     263
5     283
6     300
7     280
8     232
9     207
10    152
11    148
Name: Sun, dtype: int64

In [37]:
# your codes here

In [38]:
# slice data between start and end index 
dataCol = newDF['Sun']

print (dataCol[2:10])

2    212
3    222
4    263
5    283
6    300
7    280
8    232
9    207
Name: Sun, dtype: int64

In [41]:
# data change by index
dataCol.iloc[6] = 0 # for 2D dataCol.iloc[:, 9]

print (dataCol[2:10])

2    212
3    222
4    263
5    283
6      0
7    280
8    232
9    207
Name: Sun, dtype: int64

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [42]:
# your codes here

In [43]:
print (df.describe())
print ("---------------------------------")

       Unnamed: 0  Average high in :  ...  Hours of sunshine:  Average snowfall in :
count   12.000000          12.000000  ...           12.000000              12.000000
mean     5.500000          58.666667  ...          217.916667               3.666667
std      3.605551          16.394752  ...           55.467367               5.033223
min      0.000000          36.000000  ...          148.000000               0.000000
25%      2.750000          44.000000  ...          164.000000               0.000000
50%      5.500000          58.500000  ...          217.000000               0.500000
75%      8.250000          73.000000  ...          267.250000               8.250000
max     11.000000          81.000000  ...          300.000000              13.000000

[8 rows x 7 columns]
---------------------------------

In [44]:
print ("the sum of value column :", df['Average high in :'].sum())
print ("the standard deviation of value column :", df['Average high in :'].std())
print ("the mean of value column :", df['Average high in :'].mean())
print ("the min of value column :", df['Average high in :'].min())
print ("the max of value column :", df['Average high in :'].max())

the sum of value column : 704
the standard deviation of value column : 16.39475156224939
the mean of value column : 58.666666666666664
the min of value column : 36
the max of value column : 81

In [45]:
# your codes here

In [46]:
# sort 
sortedData = df.sort_values(['Hours of sunshine:'], ascending=[True])
sortedData

    Unnamed: 0 Month  ...  Hours of sunshine:  Average snowfall in :
0            0   Jan  ...                 148                     13
11          11   Dec  ...                 148                      9
10          10   Nov  ...                 152                      1
1            1   Feb  ...                 168                     11
9            9   Oct  ...                 207                      0
2            2   Mar  ...                 212                      8
3            3   Apr  ...                 222                      2
8            8   Sep  ...                 232                      0
4            4   May  ...                 263                      0
7            7   Aug  ...                 280                      0
5            5   Jun  ...                 283                      0
6            6   Jul  ...                 300                      0

[12 rows x 8 columns]

In [47]:
# your codes here

In [48]:
# conditional statement
newDF

   Time  Sun  Snow
0   Jan  148    13
1   Feb  168    11
2   Mar  212     8
3   Apr  222     2
4   May  263     0
5   Jun  283     0
6   Jul    0     0
7   Aug  280     0
8   Sep  232     0
9   Oct  207     0
10  Nov  152     1
11  Dec  148     9

In [49]:
print ("---------------------")
print (newDF['Sun'] == 0)
print ("---------------------")
print (newDF[newDF['Sun'] > 200])
print ("---------------------")
print (newDF[(newDF["Sun"] > 100) & (newDF['Sun'] < 200) ])
print ("---------------------")
print (newDF[ (newDF["Sun"] > 100) & (newDF['Snow'] > 1) ])

---------------------
0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
Name: Sun, dtype: bool
---------------------
  Time  Sun  Snow
2  Mar  212     8
3  Apr  222     2
4  May  263     0
5  Jun  283     0
7  Aug  280     0
8  Sep  232     0
9  Oct  207     0
---------------------
   Time  Sun  Snow
0   Jan  148    13
1   Feb  168    11
10  Nov  152     1
11  Dec  148     9
---------------------
   Time  Sun  Snow
0   Jan  148    13
1   Feb  168    11
2   Mar  212     8
3   Apr  222     2
11  Dec  148     9

In [50]:
# your codes here

### 4. save data
* save data as csv
* save data as HTML

In [52]:
# save data frame as csv
newDF.to_csv("new_data.csv", header=True)
newDF.to_html("new_data.html", header=True)